.img_LogoCompany {
  filter: grayscale(100%);
}

.title_FirstSection {
  font-weight: 500;
}
.paragraph_FirstSection {
  margin-top: 35px;
  max-width: 498px;
  font-size: 20px;
  line-height: 28px;
}
.setMarginTopFirstSection {
  margin-top: 35px;
}
.sizeBox_FirstSection {
  margin-left: auto;
  margin-right: auto;
  width: 6em;
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
}
.verticalBoxFirstSection {
  max-width: 531px;
  margin: 0 auto;
}
.photoPos {
  margin: 0 auto;
}
.spacer_sectionOne {
  margin-top: 70px;
  flex-wrap: wrap;
}

.sizeBoxDescriptionServices {
  margin-top: 140px;
  text-align: left;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card {
  width: 100%;
  height: 310px;
  border: black 1px solid;
  border-radius: 25px;
  box-shadow: 0px 5px 0px -2px #191a23;
  margin-top: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.greyCard {
  background-color: #f3f3f3;
}
.greenCard {
  background-color: #b9ff66;
}
.blackCard {
  background-color: #191a23;
}
.text_backgroundGreen {
  background-color: #b9ff66;
  border-radius: 7px;
  max-width: 221px;
}
.text_backgroundWhite {
  background-color: white;
  border-radius: 7px;
  max-width: 221px;
}
.paragraph_Services {
  max-width: 580px;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 400;
}
.grid_cardsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.showCards {
  margin-top: 80px;
}
.sizeBox_card {
  margin: 50px;
}
.imgCard {
  margin-top: 20px;
  max-width: 210px;
  max-height: 192px;
}
.verticalBox_Card {
  justify-content: space-between;
  display: block;
}
.btn_LearnMore {
  margin-top: 93px;
}
.colorTextCards {
  color: white;
}
.sizeBox_CTA {
  background-color: #f3f3f3;
  border-radius: 25px;
  margin-top: 120px;
  position: relative;
  max-height: 347px;
}
.verticalBox_CTA {
  margin-top: 60px;
  margin-left: 60px;
  max-width: 500px;
  max-height: 227px;
}
.caseStudes_margin {
  margin-top: 120px;
  justify-content: flex-start;
}

.img_inCTA {
  position: relative;
  width: 494px;
  height: 394px;
  top: -23.5px;
}
.titleCTA {
  font-size: 30px;
  font-weight: 500;
}
.paragraph_CTA {
  font-weight: 400;
  margin-top: 26px;
}
.setMarginTopforButtonCTA {
  margin-top: 26px;
}
.title_betweenSections {
  font-size: 40px;
  font-weight: 500;
}
.text_ColorGreen {
  color: #b9ff66;
  font-size: 20px;
  margin: 0;
}
.sizeBoxStudies {
  max-width: 286px;
  max-height: 186px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  margin-top: 70px;
}
.sizeBox_Sudies {
  margin-top: 80px;
  height: 326px;
  justify-content: space-evenly;
}

.sizeBox_SectionSudies {
  justify-content: center;
  border-radius: 45px;
  direction: ltr;
  color: white;
  background-color: #191a23;
}
.arrowMarginLeft {
  margin-top: 20px;
  margin-left: 15px;
  position: relative;
  top: 5px;
}

.verticalBorder {
  content: "";
  border: #f3f3f3 0.1px solid;
  height: 186px;
  margin-top: 70px;
}
.boxProcess {
  border: black 1px solid;
  border-radius: 25px;
  box-shadow: 0px 5px 0px -2px #191a23;
  margin-bottom: 30px;
}

.titleProcess {
  font-size: 30px;
  font-weight: 500;
  margin-left: 25px;
}
.plusMinus {
  height: 58px; /* this can be anything */
  width: 58px;
  border-radius: 50%;
  content: "";
}
.Plus {
  position: relative;
  /* ...but maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 10px;
}
.Plus::before,
.Plus::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 4px; /* cross thickness */
  background-color: black;
}

.Plus::before {
  transform: rotate(90deg);
}

.Plus::after {
  transform: rotate();
}
.selecterCommentSwicher {
  display: flex;
  justify-content: space-between;
  max-width: 146px;
  width: 100%;
  align-items: center;
}
.sizebox_Progress {
  margin: 41px 60px;
}
.textProgress {
  align-items: center;
  text-align: left;
}
.sectionProgress {
  margin-top: 80px;
}
.sizeBox_cardTeam {
  max-width: 387px;
  width: 100%;
  max-height: 331px;
  height: 100%;
  border-radius: 45px;
  border: solid 1px #191a23;
  margin-top: 40px;
}
.horizontalBoxTopCardTeam {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.sizeBoxImageCard {
  max-width: 105px;
  max-height: 103px;
  width: 100%;
  height: 100%;
}

.verticalBox_CardTeam {
  justify-content: space-between;
  display: flex;
}
.img_sizeLogo {
  width: 34px;
  height: 34px;
}
.horizontalBoxBotCardTeam {
  border-top: #191a23 solid 1px;
  padding-top: 28px;
  margin: 28px 35px 60px 35px;
}
.wrapBoxCardsTeam {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 80px;
  width: 100%;
}
.buttin_position {
  flex-direction: row-reverse;
  margin-top: 40px;
}

.sliderVisibleWindow {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  position: relative;
}
.sectionTestimonials {
  background-color: #191a23;
  height: 625px;
  border-radius: 45px;
  margin-top: 80px;
  color: white;
  padding-top: 84px;
}
.titleSlider {
  max-width: 526px;
  margin: 0 auto;
  margin-left: 80px;
  margin-top: 48px;
}
.paragraphSlider {
  border: #b9ff66 solid 1px;
  border-radius: 45px;
  max-height: 237px;
  height: 100%;
  width: 606px;
}
.textSlider {
  padding: 52px 48px;
  display: flex;
  text-wrap: wrap;
  flex-wrap: wrap;
}
.itemSlider {
  margin: 0 auto;
  position: relative;
  left: -300px;
}
.backArrow {
  transform: rotate(180deg);
}
.sliderText {
  overflow: hidden;
}
.sizeBox_Slidername {
  margin-left: 80px;
  margin-top: 50px;
}
.bot_sliderElement {
  justify-content: space-between;
  display: flex;
  max-width: 564px;
  width: 100%;
  margin: 0 auto;
  margin-top: 124px;
}
.sectionContact {
  height: 773px;
  background-color: #f3f3f3;
  border-radius: 45px;
  margin-top: 80px;
}
.sizeBox_InputContactss {
  max-width: 556px;
  width: 100%;
  height: 663px;
  margin-top: 60px;
  margin-left: 100px;
}
.imageContact {
  margin-top: 60px;
}
.checkBox_Style {
  font-size: 18px;
}
.boxPositionInParent {
}
.inputSettingsTextArea::placeholder {
  padding-left: 30px;
}
.horizontalSizeInputWindow {
  max-width: 556px;
  width: 100%;
  margin-top: 5px;
}
.inputSettings {
  height: 59px;
  border-radius: 14px;
  font-size: 18px;
}
.inputSettings::placeholder {
  padding-left: 30px;
}
.inputSettingsTextArea {
  height: 190px;
  border-radius: 14px;
  font-size: 18px;

  padding-top: 18px;
}
.inputTypeString {
  font-size: 16px;
  margin: 0;
  margin-top: 25px;
}
.buttonSend {
  max-width: 556px;
  width: 100%;
  height: 68px;
  background-color: #191a23;
  color: #f3f3f3;
  border-radius: 14px;
  margin-top: 40px;
}

.sendEmael {
  max-height: 185px;
  height: 100%;
  background-color: #292a32;
  border-radius: 14px;
  margin-right: 40px;
}

.contactData {
  text-align: left;
  max-width: 332px;
  width: 100%;
  max-height: 132px;
  justify-content: space-between;
}

input[type="radio"],
input[type="radio"]:checked {
  width: 28px;
  height: 28px;
  accent-color: yellowgreen;
}
input[type="radio"]:not(:checked) {
  accent-color: #00f;
}
.sizeboxInputWindow {
  max-width: 276px;
  width: 100%;
  height: 28px;
  align-items: center;
}

@media (max-width: 1280px) {
  .imageContact {
    display: none;
  }
  .img_inCTA {
    display: none;
  }
  .photoPos {
    margin: 0 auto;
    width: 100%;
  }
}
@media (max-width: 828px) {
  .sizeBoxDescriptionServices {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .BoxlistBottom {
    display: block;
  }
  .learnMore {
    display: none;
  }
  .sizeBox_card {
    margin: 25px;
  }
  .imgInCard {
    width: 100%;
  }
  .imgCard {
    width: 100%;
  }
  .caseStudes_margin {
    display: block;
  }
}
@media (max-width: 636) {
}
