@font-face {
  font-family: "fontC";
  src: url(../fonts/Comfortaa.ttf);
}
@font-face {
  font-family: "fontM";
  src: url(../fonts/Montserrat-Regular.ttf);
}
body {
  padding: 0;
  margin: 0;
  background: #f5faff;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.max-size-content {
  max-width: 1184px;
  padding-left: 40px;
  padding-right: 40px;
  border: 1px green solid;
}

.size-button-left-menu {
  border-radius: 100%;
  background: #f5faff;
  box-shadow: 0 0 30px 0 rgba(86, 86, 86, 0.25);
  width: 70px;
  height: 70px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 138%;
  text-align: center;
  font-family: "fontC";
  transition: background linear 0.3s;
}

.size-button-left-menu:hover {
  background: #64d370;
}
.vertiacl-box-nav-bar-left {
  gap: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid red;
  margin: 0 auto;
}

.position-left-menu {
  margin: 0 auto;
  position: fixed;
}

.size-box-selector-language {
  display: flex;
  gap: 15px;
  position: relative;
  left: 290px;
  max-width: 135px;
  top: -130px;
}
.button-language {
  font-family: "fontM";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.03em;
  background-color: #f5faff;
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
}

.button-language-selected {
  background-color: #64d370;
  color: #f4f9fe;
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
  .max-size-content {
    max-width: 691px;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .max-size-content {
    max-width: 510px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px green solid;
  }
  .position-left-menu {
    display: none;
  }
}
