.boxSizeContent {
  width: 535px;
  height: 279px;
  margin-left: 367px;
  z-index: 1;
  margin-top: 400px;
}
.boxTextPositionOreder {
  width: 532px;
  height: 62px;
  margin-left: 30px;
}
.botTextInButtonOrder {
  margin: 0;
  color: #64d370;
  padding: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0.03em;
}
.boxArrowSlider {
  width: 156px;
  margin: 0 auto;
  align-items: center;
  margin-top: 270px;
  height: 14px;
}
.rotate180 {
  transform: rotate(180deg);
}
.selectCircle {
  width: 14px;
  height: 14px;
}
.imgData {
  width: 10px;
  height: 10px;
}
.sectionImagesHorizontal {
  margin-top: 137px;
}
.sizeBoxFiguries {
  background: rgba(245, 250, 255, 0.8);
  border-radius: 30px;
  font-size: 12px;
  height: 220px;
  text-align: center;
  align-items: center;
}
figcaption {
  text-align: center;
}
figure {
  text-align: center;
}
.twoButtons {
  width: 1180px;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 100px;
}
.btn {
  width: 580px;
  height: 62px;
  border-radius: 190px;
  border: none;
}
.btn:first-child {
  margin-right: 20px;
  background: #64d370;
  color: white;
  /* TODO: вместо 0px нужно писать 0 просто */
  box-shadow: 0 0 40px 0 rgba(34, 60, 80, 0.2);
}
.btn:first-child:hover {
  background: aquamarine;
}
.btn:last-child {
  background-color: #dee6ee;
}
.boxOnlyText {
  margin-top: 70px;
  max-width: 1178px;
}
.titleTexth1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.paragrahFirst {
  margin-top: 15px;
}
.paramertoneLetter {
  font-size: 20px;
  color: #64d370;
}
.bottomHorizontalBox {
  margin-top: 42px;
}
.topTextInButtonOrder {
  font-weight: 400;
  font-size: 20px;
  line-height: 134%;
  color: #020202;
  width: 133px;
  text-wrap: nowrap;
}
.greentextTop {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #64d370;
}

.topTextOnlyTextSection {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
.botTextOnlyTextSection {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6px;
}
.boxSizeMainInfoBorder {
  max-width: 1180px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.sectionMainInfoBorder {
  margin-top: 50px;
  z-index: 1;
}
.selectedDataFEat {
  width: 380px;
  height: 250px;
  background-color: #64d370;
  border-radius: 30px;
  color: white;
  align-items: center;
  /* TODO: вместо 0px нужно писать 0 просто */
  box-shadow: 0 0 40px 0 rgba(34, 60, 80, 0.2);
}

.table {
  width: 380px;
  font-weight: 400;
  font-size: 15px;
}
.setStyleText {
  text-decoration: line-through;
}
.slectedMenuButton {
  border-radius: 190px;
  width: 280px;
  height: 60px;
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
  background: #64d370;
  font-weight: 700;
  font-size: 26px;
  line-height: 134%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f5faff;
  border: none;
  margin-left: 50px;
  margin-top: 50px;
}
.days {
  width: 780px;
  height: 55px;
}
.daysList {
  height: 100%;
  list-style-type: none;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
  align-items: center;
}
.daysList li:first-child {
  margin-left: 50px;
}
.daysList li:last-child {
  margin-right: 50px;
}
.tableMenu {
  padding: 30px 56px 40px 50px;
  margin-top: 20px;
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
  border-radius: 30px;
  background-color: #f5faff;
}
.elementTable {
  width: 680px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.elementTable:first-child {
  /* TODO: вместо 0px нужно писать 0 просто */
  margin-top: 0;
}
.styleMealText {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
.timeSelecterMenu {
  width: 130px;
}
.menusSelecterMenu {
  width: 425px;
}
.picesSelecterMenu {
  width: 55px;
  height: 44px;
}
.commonMealFontSettings {
  font-weight: 300;
  font-size: 18px;
  color: #000;
}
.verticalBoxRight {
  margin-left: 20px;
}

.textboxShowDataTop {
  padding-top: 30px;
  margin-left: 50px;
  margin-right: 30px;
  display: flex;
}
.buttonOrder {
  font-weight: 700;
  font-size: 26px;
  line-height: 134%;
  letter-spacing: 0.03em;
  text-align: center;
  max-width: 280px;
  width: 100%;
  height: 60px;
  border-radius: 190px;
  border: none;
  background-color: #64d370;
  color: white;
  /* TODO: вместо 0px нужно писать 0 просто */
  box-shadow: 0 0 40px 0 rgba(34, 60, 80, 0.2);
}
.descriptionTextShow {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 30px;
}
.sizeBoxTble {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  width: 344px;
  height: 183px;
}
.emptyCell {
  content: "";
  width: 50px;
  height: 25px;
}
.colomnTable p {
  margin-top: 15px;
}
.firstCell {
  margin-top: 0;
}
.selectedCcal {
  margin-left: 20px;
  margin-top: 5px;
}
.sizeCell-FirstColon {
  width: 122px;
  height: 18px;
}
.sizeCell-SecondColon {
  width: 56px;
  height: 18px;
}
.sizeCell-ThirdColon {
  width: 61px;
  height: 18px;
}
.fontStyleTable {
  font-weight: 400;
  font-size: 15px;
}
.colomnTable-first {
  margin-right: 68px;
}
.sizeCell-SecondColon {
  margin-right: 44px;
}
@media (max-width: 785px) {
  .boxSizeContent {
    width: 217px;
    height: 208px;
    margin-left: 129px;
    z-index: 1;
    margin-top: 170px;
  }
  .titleTexth1,
  .greentextTop {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
  }
  .paragrahFirst,
  .paramertoneLetter {
    font-weight: 400;
    font-size: 12px;
    line-height: 134%;
  }
  .bottomHorizontalBox {
    margin-top: 25px;
    width: 150px;
    height: 81px;
    display: flex;
    flex-wrap: wrap;
  }
  .botTextInButtonOrder {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
  }
  .topTextInButtonOrder {
    font-weight: 400;
    font-size: 12px;
    line-height: 134%;
  }
  .buttonOrder {
    width: 150px;
    height: 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 134%;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
