.startBody {
  border: 1px solid #f5faff;
  z-index: -10;
  width: 1px;
}
.boxSizeContent {
  width: 535px;
  height: 279px;
  margin-left: 367px;
  z-index: 1;
  margin-top: 400px;
}
.botTextInButtonOrder {
  margin: 0;
  color: #64d370;
  padding: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 134%;
  letter-spacing: 0.03em;
}
.boxArrowSlider {
  width: 156px;
  margin: 0 auto;
  align-items: center;
  margin-top: 270px;
  height: 14px;
}
.rotate180 {
  transform: rotate(180deg);
}
.selectCircle {
  width: 14px;
  height: 14px;
}
.imgData {
  width: 10px;
  height: 10px;
}
.sectionImagesHorizontal {
  margin-top: 137px;
  padding: auto;
}
.sizeBoxFiguries {
  background: rgba(245, 250, 255, 0.8);
  border-radius: 30px;
  font-size: 12px;
  height: 220px;
  text-align: center;
  align-items: center;
}
figcaption {
  text-align: center;
}
figure {
  text-align: center;
}
.twoButtons {
  width: 1180px;
  margin: 0 auto;
  font-size: 25px;
  margin-top: 100px;
}
.btn {
  width: 580px;
  height: 62px;
  border-radius: 190px;
  border: none;
}
.btn:first-child {
  margin-right: 20px;
  background: #64d370;
  color: white;
  box-shadow: 0px 0px 40px 0px rgba(34, 60, 80, 0.2);
  transition: all line 0.9s;
}
.btn:first-child:hover {
  background: aquamarine;
}
.btn:last-child {
  background-color: #dee6ee;
}
.boxOnlyText {
  margin-top: 70px;
  max-width: 1178px;
}
.titleTexth1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.03em;
}
.paragrahFirst {
  margin-top: 15px;
}
.paramertoneLetter {
  font-size: 20px;
  color: #64d370;
}
.bottomHorizontalBox {
  margin-top: 42px;
}
.topTextInButtonOrder {
  font-weight: 400;
  font-size: 20px;
  line-height: 134%;
  color: #020202;
}
.greentextTop {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #64d370;
}

.topTextOnlyTextSection {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
.botTextOnlyTextSection {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6px;
}
.boxSizeMainInfoBorder {
  max-width: 1180px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
.sectionMainInfoBorder {
  margin-top: 50px;
  z-index: 1;
}
.selectedDataFEat {
  width: 380px;
  height: 250px;
  background-color: #64d370;
  border-radius: 30px;
  color: white;
  align-items: center;
  box-shadow: 0px 0px 40px 0px rgba(34, 60, 80, 0.2);
}

.table {
  width: 380px;
  font-weight: 400;
  font-size: 15px;
}
.setStyleText {
  text-decoration: line-through;
}
.slectedMenuButton {
  border-radius: 190px;
  width: 280px;
  height: 60px;
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
  background: #64d370;
  font-weight: 700;
  font-size: 26px;
  line-height: 134%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f5faff;
  border: none;
  margin-left: 50px;
  margin-top: 50px;
}
.days {
  width: 780px;
  height: 55px;
}
.daysList {
  height: 100%;
  list-style-type: none;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
  align-items: center;
}
.daysList li:first-child {
  margin-left: 50px;
}
.daysList li:last-child {
  margin-right: 50px;
}
.tableMenu {
  padding: 30px 56px 40px 50px;
  margin-top: 20px;
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
  border-radius: 30px;
  background-color: #f5faff;
}
.elementTable {
  width: 680px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.elementTable:first-child {
  margin-top: 0px;
}
.styleMealText {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
.timeSelecterMenu {
  width: 130px;
}
.menusSelecterMenu {
  width: 425px;
}
.picesSelecterMenu {
  width: 55px;
  height: 44px;
}
.commonMealFontSettings {
  font-weight: 300;
  font-size: 18px;
  color: #000;
}
.verticalBoxRight {
  margin-left: 20px;
}
.photoMenu {
  margin-top: 120px;
  margin-bottom: 150px;
}
.photoMenu h1 {
  margin: 0 auto;
  width: 200px;

  text-align: center;
}
.horizontalBoxPhoto {
  margin-top: 60px;
  width: 1915px;
  width: 100%;
}
.photolist {
  display: flex;
  position: relative;
  left: -150px;
  z-index: -1;
  list-style-type: none;
}
.mainHB {
  position: relative;
  overflow: hidden;
}
.textboxShowDataTop {
  padding-top: 30px;
  margin-left: 50px;
  margin-right: 30px;
  display: flex;
}
.descriptionTextShow {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 30px;
}
.sizeBoxTble {
  margin-top: 50px;
  margin-left: 20px;
  display: flex;
  width: 344px;
  height: 183px;
}
.emptyCell {
  content: "";
  width: 50px;
  height: 25px;
}
.colomnTable p {
  margin-top: 15px;
}
.firstCell {
  margin-top: 0;
}
.selectedCcal {
  margin-left: 20px;
  margin-top: 5px;
}
.sizeCell-FirstColon {
  width: 122px;
  height: 18px;
}
.sizeCell-SecondColon {
  width: 56px;
  height: 18px;
}
.sizeCell-ThirdColon {
  width: 61px;
  height: 18px;
}
.fontStyleTable {
  font-weight: 400;
  font-size: 15px;
}
.colomnTable-first {
  margin-right: 68px;
}
.sizeCell-SecondColon {
  margin-right: 44px;
}
.callOrder {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.descriptionOrderText {
  font-weight: 400;
  font-size: 16px;
  line-height: 134%;
  letter-spacing: 0.03em;
  text-align: center;
}
.alwaysAsks {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.sectionAskAndSend {
  width: 1180px;
  margin: 0 auto;
}
.leftOrder {
  margin-top: 19px;
  width: 423px;
  height: 570px;
}
.AsksRight {
  width: 680px;
  height: 583px;
}
.sizeAsk {
  border-radius: 190px;
  width: 680px;
  height: 40px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 134%;
  letter-spacing: 0.03em;
  box-shadow: 0 0 20px 0 rgba(86, 86, 86, 0.2);
  background: #f5faff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragrahAsk {
  margin-left: 20px;
}
.arrowRightAsk {
  margin-right: 20px;
}
.sizeInputWindow {
  background: #dee6ee;
  border-radius: 190px;
  width: 418px;
  height: 40px;
  border: none;
  margin-top: 5px;
}
.styleInputNamet {
  font-weight: 700;
  font-size: 18px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #64d370;
}
.styleInputNumber {
  font-weight: 700;
  font-size: 18px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #f87676;
}
input::placeholder {
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #020202;
}
.radioInputTestDrive {
  font-weight: 700;
  font-size: 16px;
  line-height: 134%;
  letter-spacing: 0.03em;
  color: #020202;
}
.setButtonTop {
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
  border: 3px solid #64d370;
  border-radius: 190px;
  width: 298px;
  height: 60px;
  margin-left: 13px;
  margin-bottom: 11px;
}
.inputFormBox {
  margin-bottom: 30px;
}
.setButtonBot {
  box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.3);
  background: #64d370;
  border-radius: 190px;
  width: 324px;
  height: 60px;
  border: none;
}
.textButtonOrderPhoneTop {
  font-weight: 700;
  font-size: 22px;
  line-height: 134%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #64d370;
}
.textButtonOrderPhoneBot {
  font-weight: 700;
  font-size: 24px;
  line-height: 134%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f5faff;
}
.orText {
  font-weight: 700;
  font-size: 22px;
  line-height: 134%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #020202;
  margin-bottom: 10px;
}
.verticalBoxButtons {
  max-width: 324px;
  margin: 0 auto;
}
.nameForm,
.numberForm,
.testDriveForm {
  margin-top: 30px;
}
.fontPresents {
  margin-top: 15px;
}
