/* =========================== Add Font =========================== */
@font-face 
{
  font-family:"MartleSans300";
  font-style: normal;
  font-weight: 300; 
  src: url(../fonts/MartelSans-Light.ttf);
}
@font-face 
{
  font-family:"OpenSansCondensed";
  font-style: normal;
  font-weight: 700; 
  src: url(../fonts/OpenSansCondensed-Bold.ttf);
}
@font-face
{
  font-family:"MartleSans400";
  font-style: normal;
  font-weight: 400; 
  src: url(../fonts/MartelSans-Regular.ttf);
}
@font-face 
{
  font-family:"MartelSans700";
  font-weight: 700; 
  src: url(../fonts/MartelSans-Bold.ttf);
}
@font-face 
{ 
  font-family:"MartleSans800";
  font-weight: 800; 
  src: url(../fonts/MartelSans-ExtraBold.ttf);
}
@font-face 
{
  font-family:"Poppins300";
  font-weight: 300;
  src: url(../fonts/Poppins-Light.ttf); 
}
@font-face 
{
  font-family:"Poppins600";
  font-weight: 600; 
  src: url(../fonts/Poppins-Bold.ttf);
}

/* ===========================Default tag ===========================*/



body
{
  background-color: black;
}
ul, li
{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1
{
  margin: 0;
  padding: 0;
}
p
{
  margin: 0;
  padding: 0;
}



a,a:hover, a:active
{
  text-decoration: none;
  color: #9093A6;
}

/* =========================== Custom tag =========================== */

/* =========================== Prefics c_ = common + nameVariablev ===========================*/
.с_OpenSansCondensed
{
  font-family:"OpenSansCondensed";
  font-weight: 700;
}
.c_FontPoppins300
{
  font-family:"Poppins300";
  font-weight: 300;
}
.c_FontPoppins600
{
  font-family: "Poppins600";
  font-weight: 600;
}
.c_FontMartelSans300
{
  font-family: "MartleSans300";
  font-weight: 300;
}
.c_FontMartelSans400
{
  font-family: "MartleSans400";
  font-weight: 400;
}
.c_FontMartelSans700
{
  font-family: "MartelSans700";
  font-weight: 700;
}
.c_FontMartelSans800
{
  font-family: "MartleSans800";
  font-weight: 800;
  font-size: 12px;
}
.c_sizeWindow
{
    max-width: 1440px;
    margin: auto;
    background-color: white;
}
.sizeContent
{
  max-width: 1256px;
  margin: auto;
}

.c_Titles
{
  font-size: 36px;
  letter-spacing: 5px;
  line-height: 64px; 
}
.c_Shadows
{
  box-shadow: 0px 0px 40px 0px rgba(34, 60, 80, 0.08);
}
