/*Header start*/
.borderHead {
  border: none;
  border-bottom: 1px solid #9093a6;
  color: #9093a6;
}
.navigationSite {
  display: flex;
  justify-content: space-between;
}
.listNavigation {
  list-style: none;
  display: flex;
  align-items: center;
}
.listElementNavigationMenu {
  margin-right: 48px;
}
.listElementNavigationMenu:last-child {
  margin-right: 0;
}
.imageLogoHeader {
  margin-top: 24px;
  margin-bottom: 23px;
}
.positionBurger {
  position: relative;
  top: 12px;
  left: 12px;
}
/*Header end*/

/*First Section start. (ShowCase) */
.imagesPreviuse {
  position: relative;
  display: flex;
  max-width: 803px;
}
.mainText {
  color: #3f4255;
  line-height: 68px;
  font-size: 58px;
  letter-spacing: 5px;
  max-width: 534px;
  height: 128px;
}
.maininfoText {
  margin-top: 120px;
}
.mainTextinButton {
  font-size: 16px;
}
.otherTextInButton {
  font-size: 12px;
}
.informationWindow {
  display: flex;
  justify-content: space-between;
}

.previuImage {
  max-width: 648px;
  max-height: 648px;
  width: 100%;
  height: 100%;
  position: relative;
}
.rucolaPos {
  position: relative;
  max-width: 122px;
  max-height: 166px;
  top: 380px;
  left: 50px;
}
.arrow {
  top: 590px;
  left: 530px;
  position: absolute;
  text-align: center;
  justify-content: left;
  padding-left: 20px;
}
.variableGetEat {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
  max-width: 259px;
}
.showVariabgle {
  border: solid, 2px, #ffe145;
  border-radius: 5px;
  width: 118px;
  height: 72px;
  text-align: center;
  background-color: white;
  letter-spacing: 0.5px;
}

.textDilivery {
  max-width: 100%;
}

.imageRucola {
  position: relative;
  rotate: 31.5%;
  top: -500px;
}
/*First Section end*/
a


/*SuBFirst Section Start*/
.components {
  width: 1440px;
  position: relative;
}
.boxDilivery {
  display: flex;
  width: 872px;
  height: 104px;
}
.sizeImageDilivery {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.descriptionDelivery {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  margin-right: 46px;
}
.borderDiliveryElements {
  display: flex;
  max-height: 46px;
  padding-top: 28px;

  white-space: nowrap;
}
.borderDiliveryElements:first-child {
  margin-left: 92px;
}
.textArrow {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  white-space: nowrap;
  margin-top: 14px;
}

/*Second Section start*/
.headerSectionRestaurants {
  margin-top: 72px;
  justify-content: space-between;
  display: flex;
  letter-spacing: 8%;
  font-size: 36px;
  margin-top: 48px;
}

/**/
.slider {
  position: relative;
  margin-top: 48px;
  overflow: hidden;
}

.sliderLine {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.sliderItem {
  width: 296px;
  height: 296px;
  margin-right: 24px;
}
.sliderItem:last-child {
  margin-right: 0;
}





.Specialities_slider
{
  position: relative;
  margin-top: 72px;
  overflow: hidden;
}
.Specialities_sliderLine
{
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.Specialities_SliderItem
{
  text-align: center;
  margin-right: 24px;
}
.Specialities_SliderItem:last-child
{
  margin-right: 0;
}
.Specialities_imageItem
{
  padding-left: 44px;
  padding-right: 44px;
  margin-top: 24px;
}
.textSpecialitles
{
  margin-top: 16px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #313030;

}



/**/
.arrowPlace {
  position: relative;
  bottom: 180px;
  display: flex;
}
.arrowPlaceSpecialities {
  position: relative;
  bottom: 100px;
  display: flex;
}
.backSliderMenu {
  position: absolute;
  left: -25px;
}
.forwardSliderMenu {
  position: absolute;
  left: 1193px;
}
.rightArrowSpecialities {
  position: relative;
  left: 1230px;
}
.leftArrowSpecialities {
  position: relative;
  right: 70px;
}
/*Second Section end*/

/*Third Section start*/
.sectionFindRestaurane {
  margin-top: 72px;
  background-color: #f2f4fa;
  height: 297px;
  width: 100%;
}
.findRestauranFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleAndDiscriptionBorder {
  color: #3f4255;
}
.titleFindRestauran {
  margin-top: 80px;
  margin-right: 159px;
}
.descriptionFindRestauran {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 24px;
  width: 424.17px;
  line-height: 24px;
}
.inputFindAdress {
  margin-top: 113px;
  margin-right: 0;
}
.inputWindowFindAdress {
  width: 336px;
  height: 72px;
  border: none;
  border-radius: 6px;
}

.circleInButton {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.4;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
/*Third Section start*/

/*Four Section start*/
.SpecialitiesSection {
  margin-top: 72px;
}

.elementSpecialitlesList {
  width: 136px;
  height: 136px;
  min-width: 136px;
  min-height: 136px;
  margin-right: 24px;
  text-align: center;
  font-size: 16px;slider
  letter-spacing: 0.5px;
  line-height: 24px;
}

.arrowPlaceSpecialities {
  position: relative;
}
.backSliderSpecialities {
  position: absolute;
  transform: rotate(180deg);
  left: -65px;
  top: -20px;
}
.forwardSliderMenuSpecialities {
  position: absolute;
  left: 1190px;
}

.imgArrow {
  position: relative;
  top: 12px;
  left: 12px;
}
.rightArrow {
  position: relative;
  left: 1230px;
}
.leftArrow {
  position: relative;
  right: 65px;
}
.imgArrowLeft {
  position: relative;
  top: 15px;
  left: 15px;
}
.imgArrowRight {
  position: relative;
  top: 12px;
  left: 12px;
}
/*Four Section end*/

/*Five Section start*/
.sectionDataRest {
  background: url(../images/bgLime.png);
  width: 1440px;
  height: 284px;
  margin-top: 72px;
}
.circlesList {
  display: flex;
  padding-top: 56px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.selecterNumber {
  font-size: 58px;
  letter-spacing: 5%;
  line-height: 64px;
  text-align: center;
  color: #3f4255;
  position: relative;
  top: 110px;
  right: 5px;
  text-align: center;
}
.dicriptionVariable {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  margin-top: 2px;
}
.borderSphere {
  width: 127px;
  height: 127px;
  border-radius: 50%;
  background: #ffe145;
  margin-right: 39px;
  margin-left: 40px;
  position: relative;
  color: #3f4255;
}
.borderSphere::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 22px;
  width: 127px;
  height: 127px;
  border-radius: 50%;
  border: solid 1px #b79c10;
}
.numberPositionInSphere {
  position: relative;
  top: 15px;
  left: 0px;
  font-size: 58px;
  line-height: 64px;
  letter-spacing: 5%;
  text-align: center;
}

.sizeBoxSphere {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
}
.textSphere {
  margin-top: 65px;
  font-size: 24px;
  width: 225px;
  line-height: 32px;
  text-wrap: nowrap;
  text-align: center;
  position: relative;
  left: -51px;
}
/*Six Section start*/
.showMap {
  margin-top: 72px;
  width: 1440px;
}
.imgMap {
  width: 1280px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.backgroundCircles {
  background: url(../images/iCircle.png);
}
.descriptionCircle {
  font-size: 24px;
  line-height: 32px;
}

/*Six Section End*/

/*Seven Section start*/
.sectionInstagramm {
  margin-top: 72px;
}
.instagramPhotoList {
  padding: 0;
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
}
.elemenInstagrammList {
  margin-right: 24px;
}
.elemenInstagrammList:last-child {
  margin-right: 0px;
}
.titleInstagramm {
  color: #313030;
}
.othertextInsta {
  color: gray;
}
/*Seven Section end*/

/*Footer start*/
.footerData {
  background-color: #3f4255;
  color: #ffffff;
  height: 100%;
  margin-top: 72px;
}
.whiteLogo {
  padding-bottom: 48px;
}
.boderLogoBottom {
  border: none;
  border-bottom: 1px solid #9093a6;
  color: #9093a6;
}
.boxFotter {
  display: flex;
  justify-content: space-between;
}
.colomnInFooterData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  position: relative;
  left: 25px;
}
.colomnData {
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #d4d7e5;
  margin-bottom: 16px;
  line-height: 20px;
}
.otherSettingsColomnData {
  line-height: 24px;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin-bottom: 16px;
}
.footerLast {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
  margin-bottom: 48px;
}
.logoList {
  display: flex;
  margin-bottom: 48px;
}
.logoList:last-child {
  margin-right: 0px;
}

.elementLogoList {
  width: 21.66px;
  height: 21.66px;
  margin-right: 25.17px;
}


.footerPrivacyList {
  display: flex;
}
.elementPrivacyList {
  margin-right: 25px;
}
.footerLogoWindow {
  justify-content: space-between;
  max-width: 296px;
  margin-top: 48px;
  margin-right: 184px;
  position: relative;
}
.storesBorder {
  max-width: 173.69;
  max-height: 28.49px;
  display: flex;
  margin-right: 184px;
}
.storesIcon {
  max-width: 173.69px;
  width: 78px;
  height: 28.5px;
  margin-top: 48px;
}
.storesIcon:last-child {
  margin-right: 8.5px;
}
.firstElementColomnData {
  font-size: 24px;
  margin-bottom: 24px;
  text-align: left;
}
.elementPrivacyList:last-child {
  font-size: 12px;
}

.colomnDataList {
  line-height: 32px;
}
.underlineLogo {
  border: none;
  border-bottom: 1px solid #9093a6;
  color: #9093a6;
}
.s_FixedPositionNavigationMenu {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
}
.test
{background-color: #FFFFFF;
  border-radius: 25px;
  color: #3F4255;
  text-align: center;
  display: none;
}
.testActivate
{
display: block;
}
.setLang
{
  background-color: #3F4255;
  border-radius: 25px;
  color: white;
  text-align: center;
  display: none;
  width: 100px;
  margin-left: auto;
  margin-right: 0;
}
.setLangActivate
{
  display: block;
}
